LIBPROCESS_IP={{ chronos_libprocess_ip }}
CHRONOS_HOSTNAME={{ chronos_hostname }}
CHRONOS_MASTER={{ chronos_master_peers }}
CHRONOS_ZK_HOSTS={{ chronos_zk_peers }}
CHRONOS_ZK_PATH=/{{ chronos_framework_name }}/state
CHRONOS_MESOS_FRAMEWORK_NAME={{ chronos_framework_name }}
CHRONOS_HTTPS_PORT={{ chronos_https_port }}
CHRONOS_SSL_KEYSTORE_PASSWORD={{ chronos_jks_password }}
CHRONOS_SSL_KEYSTORE_PATH={{ chronos_keystore_path }}
CHRONOS_HTTP_CREDENTIALS={{chronos_username}}:{{chronos_password}}
